@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg-color: #f6f5f5;
  --secondary-bg-color: #fdfffc;
}

body {
  background-color: var(--primary-bg-color);
  background-color: #5A639C;
  height: 100%;
  min-width: 400px;


  #header_container {
    height: 6vh;
    color: #0A1C33;
    color: white;
    font-size: 5rem !important;
  }

 

  #fitler_container {
    height: 4vh;
    width: 100%;
    /* background-color: var(--primary-bg-color); */
    /* background-color: #9B86BD; */
    background-color: #7776B3;
 
    font-size: 1.15rem !important;
    border-bottom: 1px solid black !important;
    border-bottom: 1px solid #fff !important;

        
    & select, input{
      background-color: white;
      height: 3vh;
    }

    div{
      height: 4vh;
      font-size: 1.15rem;
    }
  }

  #data_container {
    display: block;
    overflow: auto;
    height: 86vh;

  }

  table {
    width: 100%;
    max-height: 86vh;
    background-color: var(--secondary-bg-color);
    border-collapse: collapse;
    table-layout: fixed;
  }

  thead {
    /* background-color: #f5f7f8; */
    background-color: #F2F3F4;
    width: 100%;
    border-bottom: 1px solid gray;
    color: #003DA6;
    height: 3vh;   
  }

  tbody {
    display: block;
    overflow-y: scroll;
    max-height: 83vh; 
    width: 100%;
  }

  th,
  td {
    /* width: 25%; Adjust based on the number of columns */
    word-wrap: break-word; /* Allows long words to be broken and wrap to the next line */
    white-space: normal; /* Normal white-space behavior with wrapping */
    overflow-wrap: break-word; /* Breaks long words if they overflow */
    word-break: break-all; /* Breaks long words if they overflow */
    padding-right: 2px;
  }

  tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* Ensures the columns are of equal width */
  }

  #footer_container {
    height: 4vh;
    color: #fff;
    width: 100vw;
    border-top: 1px solid #fff;
  }
}

@media screen and (min-width: 760px) {
  body {
    font-size: 14px;
    tr, td{
      padding-top: 2px;
      padding-bottom: 2px;
    }
  }

  #footer_container{
    font-size: 1.15rem;
  }
}
