@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg-color: #F6F5F5;
  --secondary-bg-color: #fdfffc;
}

body {
  background-color: var(--primary-bg-color);
  height: 100%;

  #fitler_container {
    background-color: var(--primary-bg-color);
    font-size: 1.15rem !important;
  }

  #data_container {
    background-color: var(--secondary-bg-color);
    display: block;
    position: fixed;
    height: 100vh;
    overflow: auto;
    opacity: 1;
    z-index: 1;
    
    table {
      width: 100%;
      border-collapse: collapse;
      }



      th{
        position: sticky;
        top: 0;
        background-color: #F7EFE5;
        border: 0;

        tr{
          padding-top: 3px;
          padding: 10px;
        }
      }

  }
}


